<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-type" content="text/html;" charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../templates/style.css" media='screen' rel="stylesheet">
  <link href="../templates/print_style.css" media="print" rel="stylesheet">
  <style>

.spacing {
  width: 5mm;
}

  </style>
  <!--cad52d-->
  <!--e36a66-->
</head>

<body>

<div class="page">
  <div class='logo'><img src="https://www.invisible.ru/media/2019/11/15/invisible_pdf_logo.png" alt="second logo"></div>
  <table style="margin-top:5mm; " class="zero_row">
    <td></td>
    <td class="spacing"></td>
    <td></td>
    <td class="spacing"></td>
    <td></td>
    <tr>
      <td colspan="3">
        <div class="main_img" style='height:100%; '>
       <img alt="" style='object-fit:cover; object-position: -2.8cm -0.1cm; width:160%;' src="%set.photoSet%" alt="%set.title%"/>
     </div>
     </td>
      <td class="spacing"></td>
      <td><h2 class="set_name">
        %set.title%
      </h2>
      <p class="set_short_dis">
        %set.descriptionFromSet%
      </p>
      <table class="wine_color">
        <tr>
          <!--https://www.invisible.ru/media/2019/11/08/red_wine_logo4x.png-->
          <!--https://www.invisible.ru/media/2019/11/08/roz_wine_logo4x.png-->
          <!--https://www.invisible.ru/media/2019/11/08/white_wine_logo4x.png-->
          <td><div><img src="%type1%" alt=""></div></td>
          <td><div><img src="%type2%" alt=""></div></td>
          <td><div><img src="%type3%" alt=""></div></td>
          <td><div><img src="%type4%" alt=""></div></td>
          <td><div><img src="%type5%" alt=""></div></td>
          <td><div><img src="%type6%" alt=""></div></td>
          <td><div><img src="%type7%" alt=""></div></td>
        </tr>
      </table>
      <p class="set_long_dis">
        %set.description%


      </p></td>
    </tr>
  </table>





  <div class="main" style='margin-top:-0.5cm;'>
    <table class="first_row">
      <tr>
        <td class="wine_dis_name content" style="color:%bottle_color1%;">%name1%</td>
        <td class="spacing content"></td>
        <td class="wine_dis_name content" style="color:%bottle_color2%;">%name2%</td>
        <td class="spacing content"></td>
        <td class="wine_dis_name content" style="color:%bottle_color3%;">%name3%</td>
      </tr>
    </table>

    <table class="second_row">
      <tr>
        <td class="wine_dis_text content">%description1%</td>
        <td class="spacing content"></td>
        <td class="wine_dis_text content">%description2%</td>
        <td class="spacing content"></td>
        <td class="wine_dis_text content">%description3%</td>
      </tr>
    </table>

    <table class="third_row">

      <tr class='row_tr'>
        <td  class='top left content'><table class="double_row">
          <tr>
            <td>ВКУС</td>
          </tr>
          <tr>
            <td class='wine_taste'>%naVkus1%</td>
          </tr>
        </table></td>
        <td class='top right content'><table class="double_row">
          <tr>
            <td >ВИНОГРАД</td>
          </tr>
          <tr>
            <td class='wine_grape' >%vinograd1%</td>
          </tr>
        </table></td>
        <td class="spacing content"></td>
        <td  class='top left content'><table class="double_row">
          <tr>
            <td>ВКУС</td>
          </tr>
          <tr>
            <td class='wine_taste'>%naVkus2%</td>
          </tr>
        </table></td>
        <td class='top right content'><table class="double_row">
          <tr>
            <td >ВИНОГРАД</td>
          </tr>
          <tr>
            <td class='wine_grape' >%vinograd2%</td>
          </tr>
        </table></td>
        <td class="spacing content"></td>
        <td  class='top left content'><table class="double_row">
          <tr>
            <td>ВКУС</td>
          </tr>
          <tr>
            <td class='wine_taste'>%naVkus3%</td>
          </tr>
        </table></td>
        <td class='top right content'><table class="double_row">
          <tr>
            <td >ВИНОГРАД</td>
          </tr>
          <tr>
            <td class='wine_grape' >%vinograd3%</td>
          </tr>
        </table></td>


      </tr>
      <tr class='row_tr'>
        <td  class='bottom left content'><table class="double_row">
          <tr>
            <td>ЕДА</td>
          </tr>
          <tr>
            <td class='wine_food'>%sChem1%</td>
          </tr>
        </table></td>
        <td class='bottom right content'><table class="double_row">
          <tr>
            <td >КРЕПОСТЬ</td>
          </tr>
          <tr>
            <td class='wine_degree'>%krepkost1%</td>
          </tr>
        </table></td>
        <td class="spacing content"></td>
        <td  class='bottom left content'><table class="double_row">
          <tr>
            <td>ЕДА</td>
          </tr>
          <tr>
            <td class='wine_food'>%sChem2%</td>
          </tr>
        </table></td>
        <td class='bottom right content'><table class="double_row">
          <tr>
            <td >КРЕПОСТЬ</td>
          </tr>
          <tr>
            <td class='wine_degree'>%krepkost2%</td>
          </tr>
        </table></td>
        <td class="spacing content"></td>
        <td  class='bottom left content'><table class="double_row">
          <tr>
            <td>ЕДА</td>
          </tr>
          <tr>
            <td class='wine_food'>%sChem3%</td>
          </tr>
        </table></td>
        <td class='bottom right content'><table class="double_row">
          <tr>
            <td >КРЕПОСТЬ</td>
          </tr>
          <tr>
            <td class='wine_degree'>%krepkost3% </td>
          </tr>
        </table></td>

      </tr>
    </table>




  </div>
</div>
<!--<script>

  var offsetHeight = document.getElementsByClassName('third_row')[0].offsetHeight;

  document.getElementsByClassName('third_row')[0].getElementsByClassName('content')[0].style.height = offsetHeight + 'px';
  document.getElementsByClassName('third_row')[0].getElementsByClassName('content')[2].style.height = offsetHeight + 'px';
  document.getElementsByClassName('third_row')[0].getElementsByClassName('content')[4].style.height = offsetHeight + 'px';

  var offsetHeighttwo = document.getElementsByClassName('sixth_row')[0].offsetHeight;

  document.getElementsByClassName('sixth_row')[0].getElementsByClassName('content')[0].style.height = offsetHeighttwo + 'px';
  document.getElementsByClassName('sixth_row')[0].getElementsByClassName('content')[2].style.height = offsetHeighttwo + 'px';
  document.getElementsByClassName('sixth_row')[0].getElementsByClassName('content')[4].style.height = offsetHeighttwo + 'px';


</script>-->
</body>
</html>
