<div class="block">
<table class='top_table'>
  <tr>
    <td colspan='2' class="wine_dis_name">2017 Hans Baer Pinot Noir Германия, красное полусухое</td>
  </tr>
  <tr>
    <td colspan='2' class="wine_dis_text">Легкое освежающее красное с интересным сюжетом. Такое вроде невинное, с ягодными леденцами, но на фоне суровые травы. Но вообще, с этим вином не до сюжета. Выпиваешь бокал залпом, заедая всем, что есть на кухне — и хорошо.</td>
  </tr>
</table>
  <table cellspacing='0' cellpadding="0" class="wine_dis">
  <tr>
    <td class='top left'><table class="double_row">
      <tr>
        <td>ВКУС</td>
      </tr>
      <tr>
        <td class='wine_taste'>Ягодные леденцы, травы</td>
      </tr>
    </table></td>
    <td><table class="double_row">
      <tr>
        <td class='top right'>ВИНОГРАД</td>
      </tr>
      <tr>
        <td class='wine_grape' >Pinot Noir 100% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class='bottom left'><table class="double_row">
      <tr>
        <td>ЕДА</td>
      </tr>
      <tr>
        <td class='wine_food'>Все, кроме совсем мощного мяса</td>
      </tr>
    </table></td>
    <td><table class="double_row">
      <tr>
        <td class='bottom right'>КРЕПОСТЬ</td>
      </tr>
      <tr>
        <td class='wine_degree'>12% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</div>
