@font-face {
 font-family: "PFDinCondensedMedium";
 src:   url("fonts/PFDinCondensedMedium.ttf") format("truetype");
}
@font-face {
 font-family: "PFDinCondensedRegular";
 src:   url("fonts/PFDinCondensedRegular.ttf") format("truetype");
}
@font-face {
 font-family: "PTSerifRegular";
 src:   url("fonts/PTSerifRegular.ttf") format("truetype");
}
@font-face {
 font-family: "ReformaGroteskBoldC";
 src:   url("fonts/ReformaGroteskBoldC.otf") format("opentype");
}
@font-face {
 font-family: "ReformaGroteskDemiC";
 src:   url("fonts/ReformaGroteskDemiC.otf") format("opentype");
}
@font-face {
 font-family: "PT Serif";
 src: local("PT Serif");
}

.wine_dis_name, .wine_dis_name p{
  vertical-align: top;
  text-transform: uppercase;
  font-family: 'ReformaGroteskDemiC';
  font-size: 15pt;
  color:#a22554;
  line-height: 17pt;
   text-align: justify;
   margin:1mm;


}


.wine_dis_name{
  vertical-align: top;
  text-transform: uppercase;
  font-family: 'ReformaGroteskDemiC';
  font-size: 15pt;
  color:#a22554;
  line-height: 17pt;
 text-align: justify;
}

 .wine_dis_text{
   text-align: justify;
   font-family: 'PT Serif';
   font-size: 9pt;
   vertical-align: top;
   line-height: 12pt;
 }
 .double_row {

 }
 .wine_dis{
   width: 100%;
   table-layout: fixed;
 }
 .wine_dis td{
   vertical-align: top;
   height:50%;
 }

 .wine_dis {
   border-collapse: collapse;
   border-style: hidden;
   height:100%
 }

 .wine_dis  td, .wine_dis th {
   border: 1px solid black;
 }

 .double_row tr:nth-child(even){
   border:none;
   font-family: 'PT Serif';
   font-size: 8pt;
   line-height: 10pt;
 }
 .double_row tr:nth-child(odd){
   border:none;
   font-family: 'ReformaGroteskDemiC';
   font-size: 13pt;
   line-height: 10pt;
 }
 .double_row tr:nth-child(even) td{
   padding-top: 0.5em;
   padding-bottom: 1.5em;
   padding-left: 0.5em;
 }
 .double_row tr:nth-child(odd) td{
   padding-left: 0.3em;
   padding-top: 0.3em;
 }
 .double_row td{
   border:none;

 }

 .top_table .wine_dis_text {
   padding-bottom: 1em;
   padding-top: 1em;
 }



 .logo{
   margin-left: 74%;
   width:12em;
   height:5em;
   margin-bottom: 2em;
 }
 .logo img{
width: 100%;
 }

 .main_img img{
width: 100%;
 }

 .page{
    /*padding: 2cm;*/
   width:21cm;
   height:29.7cm;
 }

 .set_name{
   text-transform: uppercase;
   font-family: 'ReformaGroteskDemiC';
   font-size: 30pt;
   color:black;
   margin-top: -0.05em;
   font-weight: normal;
 }

 .set_short_dis{font-family: 'PT Serif';font-size: 14pt;margin-top: -1.2em;}
 .set_long_dis{
   font-family: 'PT Serif';
   font-size: 12pt;

 }
 .wine_color {
   width:40%;
   table-layout: fixed;
 }
 .wine_color td{
   overflow: hidden;

 }
 .wine_color div{


 }
 .wine_color img{
   width:4em;
 }

 .spacing{
   width:1cm;
 }
 table{
   table-layout: fixed;
   width:100%;
   vertical-align: top;
 }

 .third_row{
   margin-bottom: 3cm;
 }
 @page{
   size: A4;
   margin: 12mm;
 }
 .page{
   page-break-after: always;
   width:100%;
   height:100%;
 }
